@page
@model PEPRN231_SU24TrialTest_StudentCode_FE.Pages.Account.AccessDeniedModel
@{
}
<h2> You do not have permission to do this function!</h2>
<h3><a class="nav-link" asp-area="" asp-page="../Login">Back to LOGIN PAGE</a> </h3>